.App {
  text-align: center; }

.App-logo {
  height: 40vmin;
  pointer-events: none; }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; } }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; }

.App-link {
  color: #61dafb; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.cabecera {
  background-image: url("../public/banner.jpg");
  background-size: cover;
  height: 500px;
  background-position: center; }

.textoColor {
  color: white; }

.principalCabecera {
  font-size: 120px; }

.botonCantidad {
  width: 40px;
  height: 40px; }

.centrarCargando {
  display: flex;
  justify-content: center; }

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: 1s all;
  opacity: 0; }

.loading2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: 1s all;
  opacity: 0; }

.loading.show {
  opacity: 1; }

.loading .spin {
  border: 3px solid rgba(61, 239, 255, 0.2);
  border-top-color: #3cefff;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  animation: spin 1s linear infinite; }

@keyframes spin {
  to {
    transform: rotate(360deg); } }

.cursor-pointer {
  cursor: pointer; }

/*modal*/
.mi-modal {
  width: 90vw; }

/*footer*/
.circuloContacto {
  background: transparent;
  border: 1px solid white;
  border-radius: 50px;
  width: 35px;
  height: 35px; }

.mostrarRedesSociales {
  position: relative;
  top: 5px;
  right: 0px; }
